.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  justify-content: center;
}

.App header {
  width: 100%;
}

.App-link {
  color: #61dafb;
}
